---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { API_URL } from "astro:env/server";
import { API_KEY } from "astro:env/server";
import { USER } from "astro:env/server";

// Obtener rutas estáticas
export async function getStaticPaths() {
  const response = await fetch(`${API_URL}jugadores/con-equipo`, {
    headers: {
      Authorization: "Basic " + btoa(`${USER}:${API_KEY}`),
    },
  });

  const jugadores = await response.json();

  console.log("Jugadores obtenidos:", jugadores);
  

  return jugadores.map((jugador: any) => ({
    params: { id: jugador.nickname}, // slug
    props: { jugador },
  }));
}

const { jugador } = Astro.props;
const { nickname, urlFoto, nombreEquipo, nombreEstadisticaPrincipal, valorEstadisticaPrincipal, fechaUnion } = jugador;

console.log(jugador);

let fecha = new Date(fechaUnion);
let fechaEspañol = fecha.toLocaleDateString("es-ES", {
    year: "numeric",
    month: "long",
    day: "numeric",
});

fechaEspañol = fechaEspañol.toUpperCase();

export const prerender = true;
---
<Layout titulo={nickname} descripcion=" d"> 
    <div class="max-w-6xl mx-auto px-4 py-10 text-center">
        <h1 class="text-4xl font-bold mb-4">{nickname}</h1>
        <img transition:name={`img-${nickname}`} class="w-60 h-auto object-contain mb-4 mx-auto" src="/assets/img/usuario.png" alt={nickname} />

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6">
            <div class="border border-white/20 rounded-lg p-4 text-left">
                <p class="text-sm text-gray-400 uppercase">Equipo</p>
                <p class="text-xl text-white font-semibold">{nombreEquipo}</p>
            </div>

            <div class="border border-white/20 rounded-lg p-4 text-left">
                <p class="text-sm text-gray-400 uppercase">Fecha de Union</p>
                <p class="text-xl text-white font-semibold">{fechaEspañol}</p>
            </div>

            <div class="border border-white/20 rounded-lg p-4 text-left">
                <p class="text-sm text-gray-400 uppercase">{nombreEstadisticaPrincipal}</p>
                <p class="text-xl text-white font-semibold">{valorEstadisticaPrincipal}</p>
            </div>
        </div>

    
        <div class="max-w-6xl mx-auto px-4 py-10 text-center">
            <a href="/jugadores" class="px-4 py-2 bg-terciario text-white rounded-lg hover:bg-blue-700 transition duration-200">Volver a los jugadores</a>
        </div>
    </div>
</Layout>