---
import Layout from "../layouts/Layout.astro"
import { API_URL } from "astro:env/server"
import "../styles/global.css"

const torneosResponse = await fetch(`${API_URL}torneos`);

const torneos = await torneosResponse.json();

const juegos = await fetch(`${API_URL}juegos`);

const juegosData = await juegos.json();
---

<Layout titulo="Torneos" descripcion="Descubre y sigue todos los torneos creados en leaguebase">
  <div class="max-w-6xl mx-auto px-4 py-10 text-center">
    <div class="flex gap-6 items-center justify-center">
      <form id="formFiltrado" class="flex flex-row items-center mt-10 mb-6 gap-6 flex-wrap justify-center">
        <div>
          <label class="block mb-2 text-left text-sm font-medium text-texto-secundario">Ordenar por:</label>
          <select name="ordenarPor" class="w-full max-w-md p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-6">
            <option class="text-texto-secundario" value="">Selecciona una opción</option>
            <option class="text-texto-secundario" value="activo">Activo el evento</option>
            <option class="text-texto-secundario" value="no activo">Finalizado el evento</option>
          </select>
        </div>

        <div>
          <label class="block mb-2 text-left text-sm font-medium text-texto-secundario">Tipo de deporte:</label>
          <select name="tipoDeporte" class="w-full max-w-md p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 mb-6">
            <option class="text-texto-secundario" value="">Selecciona una opción</option>
            {
              juegosData.map((juego: any) => {
                return <option class="text-texto-secundario" value={juego.id}>{juego.nombre}</option>
              })
            }
          </select>
        </div>
 
        <input type="submit" value="Filtrar" class="px-4 py-2 bg-terciario text-white rounded-lg hover:bg-blue-700 transition duration-200"/>
      </form>

      <form id="busqueda" class="flex flex-row items-center mt-10 mb-6 gap-6 justify-center">
        <input type="text" name="buscar" placeholder="Buscar torneo..." class="w-full max-w-md p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <input type="submit" class="px-4 py-2 h-max bg-terciario text-white rounded-lg hover:bg-blue-700 transition duration-200"></input>
      </form>

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 items-start" id="resultados">
      {torneos.map((torneo: any) => {
        return <div class="w-full max-w-sm mx-auto bg-gradient-to-t from-slate-950 to-slate-800 rounded-2xl shadow-md hover:shadow-lg transition duration-300 p-6 flex flex-col items-center">
          <img transition:name={`img-${torneo.nombre}`} class="w-60 h-auto object-contain mb-4" src={torneo.url_foto} alt={torneo.nombre}/>
          <h3 class="text-lg font-bold mb-2 text-primario">{torneo.nombre}</h3>
          <p class="text-sm text-texto-primario"><strong>Estado: </strong> {torneo.estado === "activo" ? `🟢 ${torneo.estado}` : `🔴 ${torneo.estado}`}</p>
          <p class="text-sm text-texto-primario">🏟️ <strong>Tipo de juego: </strong>{torneo.tipo_juego}</p>
          <a href={`/torneo_${torneo.nombre}`} class="mt-2 px-4 py-1 h-max bg-terciario text-white rounded-lg hover:bg-blue-700 transition duration-200">Ver más</a>
        </div>
      })}
    </div>
  </div>
</Layout>

<script>
  const form = document.getElementById('busqueda') as HTMLFormElement;
  const formFiltrado = document.getElementById('formFiltrado') as HTMLFormElement;
  const resultados = document.getElementById('resultados') as HTMLDivElement;

  const imprimirResultados = (torneos: any) => {
    if (!torneos || torneos.length === 0) {
      resultados.innerHTML = '<p class="text-texto-primario text-center col-start-2">No se encontraron torneos.</p>';
      return;
    }

    resultados.innerHTML = '';

    torneos.map((torneo: any) => {
      const div = document.createElement('div');
      div.className = 'w-full max-w-sm mx-auto bg-gradient-to-t from-slate-950 to-slate-800 rounded-2xl shadow-md hover:shadow-lg transition duration-300 p-6 flex flex-col items-center';
      div.innerHTML = `
        <img class="w-60 h-auto object-contain mb-4" src="${torneo.url_foto}" alt="${torneo.nombre}"/>
        <h3 class="text-lg font-bold mb-2 text-primario">${torneo.nombre}</h3>
        <p class="text-sm text-texto-primario"><strong>Estado:</strong> ${torneo.estado === "activo" ? `🟢 ${torneo.estado}` : `🔴 ${torneo.estado}`}</p>
        <p class="text-sm text-texto-primario">🏟️ <strong>Tipo de juego:</strong> ${torneo.tipo_juego}</p>
        <a href="/torneo_${torneo.nombre}" class="mt-2 px-4 py-1 h-max bg-terciario text-white rounded-lg hover:bg-blue-700 transition duration-200">Ver más</a>
      `;
      resultados.appendChild(div);
    });
  }

  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const botonBuscar = form.querySelector('input[type="submit"]') as HTMLInputElement;
    botonBuscar.disabled = true;

    resultados.innerHTML = '<p class="text-texto-primario text-center col-start-2">Buscando.... ⏳</p>';

    const datos = new FormData(form);
    const objetoForm = Object.fromEntries(datos.entries());

    if (!objetoForm.buscar) {
      resultados.innerHTML = '<p class="col-start-2 text-texto-primario text-center">Por favor, ingresa un nombre de torneo o al menos una letra para realizar la búsqueda.</p>';
      botonBuscar.disabled = false;
      return;
    }

    const response = await fetch(`/api/torneos?buscar=${objetoForm.buscar}`);
    const torneos = await response.json();

    imprimirResultados(torneos);
    botonBuscar.disabled = false;
  });

  formFiltrado.addEventListener('submit', async (event) => {
    event.preventDefault();

    const botonFiltrar = formFiltrado.querySelector('input[type="submit"]') as HTMLInputElement;
    botonFiltrar.disabled = true;

    resultados.innerHTML = '<p class="text-texto-primario text-center col-start-2">Filtrando.... ⏳</p>';

    const datos = new FormData(formFiltrado);
    const objetoForm = Object.fromEntries(datos.entries());

    const ordenarPor = objetoForm.ordenarPor;
    const tipoDeporte = objetoForm.tipoDeporte;

    const response = await fetch(`/api/torneos?ordenarPor=${ordenarPor}&tipoDeporte=${tipoDeporte}`);
    const torneos = await response.json();

    imprimirResultados(torneos);
    botonFiltrar.disabled = false;
  });
</script>